<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="author" href="humans.txt" />
    <title>API</title>
  </head>

  <body>
    <p>This is an API endpoint. No humans allowed.</p>
  </body>
</html>
