<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Glenn Rempe <glenn@rempe.us>"/>
    <link rel="author" href="/humans.txt"/>
    <link href="/favicon.ico" rel="icon" type="image/x-icon"/>

    <title>thesplit.is : end-to-end encrypted zero-knowledge secret sharing</title>
    <link rel="stylesheet" href="css/spectre-0.1.23/dist/spectre.min.css" integrity="sha384-rQIIoFzVaD19jQF8ldEJFgtZ1mGBVERWEsIK5GkwJSda8YsI7gIhcmTJ5vzrRcfV" crossorigin="anonymous"/>
  </head>

  <body>
    <div id="app"></div>
    <div id="footer" class="text-center">
      <br>
      <div class="divider"></div>
      <br>
      <em class="silver">the end-to-end encrypted, zero-knowledge, auto-expiring, cryptographically secure, secret sharing service</em><br>
      <br>
      <p class="silver">&copy; 2016 Glenn Rempe - <a href="https://twitter.com/grempe" target="_blank">@grempe</a></p>
    </div>
    <script src="js/build.js" integrity="sha384-fhPooc8eP8xSoeyT3dwSrfUf8ITUhKGCIlccHe5pSafUpYsNvI2SWvWUBOjO8P5z" crossorigin="anonymous"></script>
  </body>
</html>
